@{
    Layout = "_layoutAdmin.cshtml";
}
@using Epic
@using Epic.Extensions
@using Epic.ViewModels
@model ChangePasswordViewModel
<div class="page-header">
    <h1>Change password</h1>
</div>
<form action="/admin/password" method="POST" class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputCurrent">Current password</label>
    <div class="controls">
      <input type="password" id="inputCurrent" placeholder="password" name="CurrentPassword">
      @Html.ValidationMessageFor(i => i.CurrentPassword)
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputNewPass">New password</label>
    <div class="controls">
      <input type="password" id="inputNewPass" placeholder="password" name="NewPassword">
      @Html.ValidationMessageFor(i => i.NewPassword)
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputRepeatPass">Repeat password</label>
    <div class="controls">
      <input type="password" id="inputRepeatPass" placeholder="password" name="RepeatPassword">
      @Html.ValidationMessageFor(i => i.RepeatPassword)
    </div>
  </div>
  <div class="control-group">
      <label class="control-label"></label>
      <button type="submit" class="btn">Change password</button>
    </div>
  </div>
</form>
